@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS para los colores del tema */
:root {
  --bg-color-light: white;
  --text-color-light: #19212c;
  --bg-color-dark: #19212c;
  --text-color-dark: white;

  /* Colores para los títulos */
  --title-color-light: #014421; /* Color para el tema claro */
  --title-color-dark: #49c351; /* Color para el tema oscuro */
}

/* Estilos globales de la página */
body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

/* Modo oscuro - aplicado a nivel de la etiqueta <html> */
[data-theme='dark'] {
  --bg-color-light: #19212c;
  --text-color-light: white;
  --bg-color-dark: #19212c;
  --text-color-dark: white;
}

[data-theme='light'] {
  --bg-color-light: white;
  --text-color-light: #19212c;
  --bg-color-dark: #19212c;
  --text-color-dark: white;
}

/* Aseguramos que el fondo y texto cambien dinámicamente según el tema */
[data-theme='dark'] body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

[data-theme='light'] body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

/* Estilos para los títulos */
/*h1 */
h2, h3, h4, h5, h6 {
  color: var(--title-color-light); /* Color por defecto (tema claro) */
  transition: color 0.3s ease; /* Transición suave */
}

/* Cambia el color de los títulos en el tema oscuro */
/*[data-theme='dark'] h1,*/
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] h6 {
  color: var(--title-color-dark);
}

/* Estilos específicos de la barra de navegación */
nav {
  transition: background-color 0.3s, color 0.3s;
}

/* Clases de Tailwind específicas */
.bg-light {
  background-color: var(--bg-color-light);
}

.bg-dark {
  background-color: var(--bg-color-dark);
}

.text-light {
  color: var(--text-color-light);
}

.text-dark {
  color: var(--text-color-dark);
}

/* Efectos para las transiciones */
a,
button,
li {
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Estilos generales para los enlaces */
a:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 0.8;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ocultar barra de desplazamiento en todos los navegadores */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

/* Para navegadores basados en WebKit (Chrome, Safari, móviles) */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

/* Para ocultar el rebote en móviles (opcional) */
html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* Evita el clic derecho y el arrastre de imágenes */
img {
  pointer-events: none; /* Deshabilita eventos del ratón */
  user-select: none; /* Evita selección */
  -webkit-user-drag: none; /* Evita arrastrar en WebKit */
  -webkit-touch-callout: none; /* Deshabilita menú largo en móviles */
}

/* Opcional: aplicar solo a imágenes dentro de un contenedor específico */
.protected-images img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}